@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "./globals.css";
@import "tailwindcss";
@import "lenis/dist/lenis.css";

body {
  font-family: "Roboto", sans-serif;
}

button,
.button {
  @apply px-28 py-3 cursor-pointer;
}

header,
section {
  @apply py-48 lg:py-80;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* WebKit-based browsers (Chrome, Safari, Opera) */
*::-webkit-scrollbar {
  display: none;
}
